<%= form_for(@hex_category) do |f| %>
  <% if @hex_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hex_category.errors.count, "error") %> prohibited this hex_category from being saved:</h2>

      <ul>
      <% @hex_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hex_id %><br>
    <%= f.text_field :hex_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
