<h1>Listing hex_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hex_categories.each do |hex_category| %>
      <tr>
        <td><%= hex_category.name %></td>
        <td><%= hex_category.hex %></td>
        <td><%= link_to 'Show', hex_category %></td>
        <td><%= link_to 'Edit', edit_hex_category_path(hex_category) %></td>
        <td><%= link_to 'Destroy', hex_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hex category', new_hex_category_path %>
