<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hex_category.name %>
</p>

<p>
  <strong>Hex:</strong>
  <%= @hex_category.hex %>
</p>

<%= link_to 'Edit', edit_hex_category_path(@hex_category) %> |
<%= link_to 'Back', hex_categories_path %>
